/* Contenedor principal para el dashboard */
.dashboard-container {
    width: 80%; /* Limitar el ancho */
    margin: 0 auto; /* Centrado en la p치gina */
    padding: 20px;
    background-color: #f8f9fc; /* Fondo suave */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para los encabezados */
h1, h2 {
    color: #007bff; /* Azul principal */
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para la lista de productos */
.product-list {
    list-style-type: none;
    padding: 0;
}

.product-item {
    flex-grow: 1; 
    background-color: #ffffff; /* Fondo blanco para los productos */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 60px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-info p {
    color: #333; /* Color de texto oscuro para la descripci칩n */
    margin: 0;
}

/* Imagen del producto */
.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
}

/* Estilo para los botones */
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

.btn-primary {
    background-color: #007bff; /* Azul principal */
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3; /* Azul oscuro para hover */
}

.btn-edit {
    background-color: #28a745; /* Verde para editar */
    color: white;
}

.btn-edit:hover {
    background-color: #218838; /* Verde m치s oscuro para hover */
}

.btn-delete {
    background-color: #dc3545; /* Rojo para eliminar */
    color: white;
}

.btn-delete:hover {
    background-color: #c82333; /* Rojo m치s oscuro para hover */
}

/* Espaciado entre los productos */
.product-actions {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}
