/* Estilos generales para el contenido */
h1 {
    text-align: center;
    color: #007bff; /* Azul principal */
    margin-bottom: 30px;
}

.lista-serv {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lista-serv{
    background-color: #e6f2ff; /* Fondo azul claro */
    border: 1px solid #007bff; /* Borde azul */
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



/* Estilo para los botones */
.buttons {
    display: inline-block;
    text-decoration: none;
    padding: 4px 4px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #559deb; /* Azul para el fondo */
    transition: background-color 0.3s ease;
    margin-right: 8px; /* Espaciado entre botones */
    text-align: center;
}

/* Efecto al pasar el mouse */
a:hover {
    background-color: #1983e6; /* Azul secundario al pasar el mouse */
}

/* Botón para "Crear Nuevo Servicio" */
.crear-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0464d1;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}

/* Botón hover para "Crear Nuevo Servicio" */
.crear-btn:hover {
    background-color: #1983e6;
}

/* Para que el contenido no sea cubierto por el footer */
.content {
    flex-grow: 1; /* Esto asegura que el contenido crezca y ocupe el espacio restante */
    padding-bottom: 60px; /* Agrega espacio adicional en la parte inferior */
    max-width: 1200px; /* Limita el ancho del contenedor para que no ocupe toda la pantalla */
    margin: 0 auto; /* Centra el contenido en la pantalla */
}