{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/jobs/edit_quotation.css' %}">
{% endblock %}

{% block content %}
<div class="content">
  <h1>Actualizar Cotización</h1>
  
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Muestra los campos del formulario -->
    
    <button type="submit"> Guardar </button>
    <a href="{% url 'jobs:list_quotations' %}" class="crear-btn">Regresar</a>
  </form>
</div>
{% endblock %}
