{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/jobs/list_quotations.css' %}">
{% endblock %}

{% block content %}
<div class="cotizaciones-container">
  <h2>Mis Cotizaciones</h2>
  
  <table class="cotizaciones-table">
    <thead>
      <tr>
        <th>Trabajador</th>
        <th>Servicio</th>
        <th>Descripción</th>         
        <th>Presupuesto</th>
        <th>Estado</th>
        <th>Acción</th>
        <th>Reseña</th>  <!-- Nueva columna para mostrar la reseña -->
      </tr>
    </thead>
    <tbody>
      {% for quotation in quotations %}
        <tr>
          <td>{{ quotation.service.worker.user }}</td>
          <td>{{ quotation.service.name }}</td>
          <td>{{ quotation.description }}</td>
          <td>{{ quotation.budget }}</td>
          <td>
            {% if quotation.accepted or quotation.counter_offer_accepted %}
              Aceptada
            {% elif quotation.is_active %}
              Esperando respuesta
            {% else %}
              Rechazada
            {% endif %}
          </td>
          <td class="cotizacion-actions">
              {% if quotation.is_active %}
                <a href="{% url 'jobs:quotation_detail' quotation.pk %}" class="action-link">Detalles</a>
                {% if not quotation.accepted and not quotation.counter_offer_accepted %}
                  <a href="{% url 'jobs:edit_quotation' quotation.pk %}" class="action-link">Ver/Modificar</a>
                  <a href="{% url 'jobs:delete_quotation' quotation.pk %}" onclick="return confirm('¿Estás seguro de que deseas eliminar esta cotización?')">Eliminar</a>
                {% endif %}
              {% else %}
                Ya no está activa
              {% endif %}
          </td>
          <td>
            {% if quotation.review_status == 'pending' %}
              <a href="{% url 'jobs:leave_review' quotation.pk %}" class="crear-btn">Dejar reseña</a>
            {% elif quotation.review_status == 'reviewed' %}
              <div>
                <span>Reseña dejada:</span>
                <p><strong>Calificación:</strong> {{ quotation.review.rating }} / 5</p>
                <p><strong>Comentario:</strong> {{ quotation.review.comment }}</p>
              </div>
            {% else %}
              <span>No disponible</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
