{% extends 'base.html' %}

{% block content %}
  <h2>Mis Cotizaciones</h2>
  
  <table>
    <thead>
      <tr>
        <th>Trabajador</th>
        <th>Servicio</th>
        <th>Descripción</th>         <th>Presupuesto</th>
        <th>Estado</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      {% for quotation in quotations %}
        <tr>
          <td>{{ quotation.service.worker.user }}</td>
          <td>{{ quotation.service.name }}</td>
          <td>{{ quotation.description }}</td>
          <td>{{ quotation.budget }}</td>
          <td>
            {% if quotation.accepted or quotation.counter_offer_accepted %}
              Aceptada
            {% elif quotation.is_active %}
              Esperando respuesta
            {% else %}
              Rechazada
            {% endif %}
          </td>
          <td>
              {% if quotation.is_active %}
                <a href="{% url 'jobs:quotation_detail' quotation.pk %}">Detalles</a>
                {% if not quotation.accepted and not quotation.counter_offer_accepted  %}
                  <a href="{% url 'jobs:edit_quotation' quotation.pk %}">Ver/Modificar</a>
                  <a href="{% url 'jobs:delete_quotation' quotation.pk %}" onclick="return confirm('¿Estás seguro de que deseas eliminar esta cotización?')">Eliminar</a>
                {% endif %}
              {% else %}
                Ya no está activa
              {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
