{% extends "base.html" %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/venta/compras_lista.css' %}">
{% endblock %}

{% block title %}Mis Compras{% endblock %}

{% block content %}
<div class="container">
    <h1>Mis Compras</h1>
    {% for venta in ventas %}
        <ul class="venta-info">
            <li>Venta ID: {{ venta.id }}</li>
            <li>Fecha: {{ venta.fecha_venta }}</li>
            <li>Total: ${{ venta.total }}</li>
        </ul>
        <ul>
            {% for item in venta.items.all %}
                <li>
                    <span>{{ item.producto.name }}</span> 
                    - Cantidad: {{ item.cantidad }} 
                    - Precio: ${{ item.precio }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    <a href="{% url 'users:worker_home' %}">Regresar</a>
</div>
{% endblock %}
