{% extends "base.html" %}

{% block title %}Productos Disponibles{% endblock %}

{% block content %}

    <h1>Mis Ventas</h1>
    {% for venta in ventas %}
        <h2>Venta ID: {{ venta.id }} - Fecha: {{ venta.fecha_venta }}</h2>
        <ul>
            {% for item in venta.items.all %}
                <li>{{ item.producto.name }} - Cantidad: {{ item.cantidad }} - Precio: {{ item.precio }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    <a href="{% url 'users:empresa_home' %}">Regresar</a>

{% endblock %}