{% extends "base.html" %}

{% block title %}Lista de Trabajos{% endblock %}

{% block content %}
    <h1>Tu Suscripción Actual</h1>
    {% if subscription %}
        <p>Plan: <strong>{{ subscription.plan_name }}</strong></p>
        <p>Precio: ${{ subscription.price }}</p>
        <p>Inicio: {{ subscription.start_date|date:"d-m-Y" }}</p>
        <p>Fin: {{ subscription.end_date|date:"d-m-Y" }}</p>
    {% else %}
        <p>No tienes una suscripción activa.</p>
        <a href="{% url 'subscriptions:subscription_list' %}">Seleccionar un plan</a>
    {% endif %}
{% endblock %}