{% extends 'base.html' %}

{% block content %}
  <h2>Tu Suscripción Actual</h2>
  
  {% if subscription %}
    <p>Plan: {{ subscription.suscription.plan_name }}</p>
    <p>Precio: ${{ subscription.suscription.price }}</p>
    <p>Fecha de inicio: {{ subscription.start_date }}</p>
    <p>Fecha de finalización: {{ subscription.end_date }}</p>

    {% if subscription.is_free %}
      <p>Tu suscripción es gratuita.</p>
    {% else %}
      <p>Tu suscripción es premium.</p>
    {% endif %}
  {% else %}
    <p>No tienes una suscripción activa.</p>
  {% endif %}

  <a href="{% url 'subscriptions:subscription_list' %}">Cambiar suscripción</a>

  <a href="{% url 'users:profile' %}">Regresar a perfil</a>
  {% endblock %}
