{% extends "base.html" %}

{% block title %}Plan de Suscripcións{% endblock %}

{% block content %}
    <h1>Selecciona un Plan de Suscripción</h1>
    <ul>
        {% for plan in subscriptions %}
        <li>
            <strong>{{ plan.name }}</strong>: ${{ plan.price }}
            <ul>
                {% for benefit in plan.benefits %}
                <li>{{ benefit }}</li>
                {% endfor %}
            </ul>
            <a href="{% url 'subscriptions:subscribe' plan.name %}">Suscribirse</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}