{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users/homeCliente.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>Bienvenido, {{ user.username }}</h1>

    <!-- Formulario de búsqueda -->
    <form method="get" action="{% url 'users:search_services' %}">
        <input type="text" name="keyword" placeholder="Buscar servicio por palabra clave" required>
        <button type="submit">Buscar</button>
    </form>

    <!-- Mostrar los servicios encontrados -->
    {% if services %}
        <h2>Servicios encontrados:</h2>
        <ul class="lista-serv">
            {% for service in services %}
                <li>{{ service.name }}</li>
                <li>{{ service.description }}</li>
                <li><a>Ver perfil</a></li>
                <li><a href="{% url 'jobs:create_quotation' service.id %}">Solicitar Servicio</a></li>                
            {% endfor %}
        </ul>
    {% else %}
        {% if false_search %}
            <p>No se encontraron servicios.</p>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
