
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="loginCSS.css">
</head>
<body>
    <div class="formulario">
        <h1>Inicio de sesión</h1>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div> 
            <div class="username">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <div class="recordar">¿Contraseña olvidada?</div>
            <input type="submit" value="Acceder">
            <h4>     Registrarse como</h4>
            <div class="registrarseUsuario">
                <u href="#">Usuario</u>
            </div>
            <div class="registrarseEmpleado">
                <e href="#">Empleado</e>
            </div>
        </form>

    </div>    

    
</body>
</html>