{% extends "base.html" %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/users/loginCSS.css' %}">
{% endblock %}

{% block content %}
    <h1>Iniciar Sesión</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p><a href="{% url 'password_reset' %}">Olvidé mi contraseña</a></p>
        <p><a href="{% url 'users:register' %}">Registrarse</a></p>
    </body>
{% endblock %}
