{% extends "base.html" %}

{% block title %}Reestablecer contraseña{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users/password_reset.css' %}">
{% endblock %}

{% block content %}
  <h2>Restablecer contraseña</h2>
  <h3>Introduce tu dirección de correo electrónico para recibir un enlace para restablecer tu contraseña.</h3>
  {% if form.errors %}
    <div class="error">
      <p>Por favor, corrija los errores a continuación:</p>
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar enlace de restablecimiento</button>
  </form>
{% endblock %}