{% extends "base.html" %}

{% block title %}Lista de Trabajos{% endblock %}

{% block content %}
    <h1>Registro de Usuario</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <label for="role">Rol:</label>
        <select id="role" name="role">
            <option value="cliente">Cliente</option>
            <option value="trabajador">Trabajador</option>
        </select>
        <button type="submit">Registrar</button>
    </form>
{% endblock %}