{% load static %}
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{% static 'css/users/registrarUsuarioCss.css' %}">
</head>
    <div class="container">
        <div class="form-container">
            <div class="logo">
                <img src="{% static 'images/Finder-LogoHombre.png' %}" alt="Logo">
                <h1>Finder</h1>
                <p>Únete y empieza a encontrar la solución</p>
            </div>
                <form method="POST" id="registroForm">
                    {% csrf_token %}
                    <h2>Registro de Usuario</h2>

                    <div class="input-group">
                        <label for="first_name">Nombre:</label>
                        <input type="first_name" name="first_name" id="first_name" required placeholder="Ingresa tu nombre">
                    </div>
                    <div class="input-group">
                        <label for="last_name">Apellidos:</label>
                        <input type="last_name" name="last_name" id="last_name" required placeholder="Ingresa tu apellido">
                    </div>
                    <div class="input-group">
                        <label for="username">Nombre de usuario:</label>
                        <input type="text" name="username" id="username" required>
                    </div>

                    <div class="input-group">
                        <label for="email">Correo electrónico:</label>
                        <input type="email" name="email" id="email" required placeholder="tuemail@dominio.com"> 
                        <small class="error-message" id="correoError"></small>
                    </div>

                    <div class="input-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" name="password" id="password" required>
                        <button type="button" id="togglePassword" class="show-password">🙈</button>
                    </div>

                    <div class="terms-group">
                        <input type="checkbox" id="terms" required>
                        <label for="terms">Acepto los <a href="#">términos y condiciones</a></label>
                    </div>
                        <label for="role">Escoge tu rol:</label>
                        <select name="role" id="role" required>
                            <option value="cliente">Cliente</option>
                            <option value="trabajador">Trabajador</option>
                        </select>
                    </div>
                    <div class="button-group">
                        <input type="submit" value="Registrarse">
                    </div>
                    <div class="btn-primary">
                        <a href="{% url 'login' %}" type="button" class="btn-primary">Regresar a Iniciar sesión</a>
                    </div>
                </form>
            </div>
        </div>
    {% comment %} <script src="registrarUsuarioJs.js"></script> {% endcomment %}
</body>
</html>

{% comment %} <form method="post">
    {% csrf_token %}
    <label for="username">Nombre de usuario:</label>
    <input type="text" name="username" id="username" required>

    <label for="email">Correo electrónico:</label>
    <input type="email" name="email" id="email" required>

    <label for="first_name">Nombre:</label>
    <input type="first_name" name="first_name" id="first_name" required>
    
    <label for="last_name">Apellido:</label>
    <input type="last_name" name="last_name" id="last_name" required>  <!-- Campo de correo electrónico -->

    <label for="password">Contraseña:</label>
    <input type="password" name="password" id="password" required>

    <label for="role">Rol:</label>
    <select name="role" id="role" required>
        <option value="cliente">Cliente</option>
        <option value="trabajador">Trabajador</option>
    </select>

    <button type="submit">Registrar</button>
</form>  {% endcomment %} 