{% extends "base.html" %}

{% block title %}Perfil del Usuario{% endblock %}

{% block style %}
    {% load static %}
{% endblock %}

{% block content %}
    <h1>Perfil de {{ user.username }}</h1>
    
    <p><strong>Nombre de Usuario:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Rol:</strong> {{ user.role }}</p>

    {% if worker_profile %}
        <h3>Información del Trabajador</h3>
        <p><strong>Profesión:</strong> {{ worker_profile.profession }}</p>
        <p><strong>Biografía:</strong> {{ worker_profile.bio }}</p>
        {% if worker_profile.gallery %}
            <img src="{{ worker_profile.gallery.url }}" alt="Galería del trabajador" />
        {% endif %}
        <p><strong>Calificación:</strong> {{ worker_profile.rating }}</p>
    {% else %}
        <p>No se ha configurado un perfil de trabajador para este usuario.</p>
    {% endif %}
    <a href="{% url 'users:client_home' %}">Regresar</a

{% endblock %}
