{% extends "base.html" %}

{% block title %}Eliminar Productoo{% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/materials/elim_material.css' %}">
{% endblock %}
{% block content %}
<div class="delete-container">
    <h1>¿Estás seguro de que quieres eliminar {{ meterials.name }}?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn-delete">Eliminar</button>
    </form>
    <a href="{% url 'users:empresa_home' %}" class="btn-cancel">Cancelar</a>
</div>
{% endblock %}