{% extends "base.html" %}

{% block title %}Productos Disponibles{% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/materials/listar_materials.css' %}">
{% endblock %}
{% block content %}

<h1>Productos</h1>
    <ul class="product-list">
        {% if materials %}
            {% for material in materials %}
                <li  class="product-item">
                    <div class="product-details">
                    {{ material.name }} 
                    {{ material.price }}
                    {{ material.description }}
                    {{ material.stock }}
                    {% if material.stock > 0 %}
                        <a href="{% url 'carrito:agregar_carrito' material.id %}" class="btn-add-to-cart">Agregar al Carrito</a>
                    {% else %}
                    <span class="out-of-stock">Producto Agotado</span>
                    {% endif %}
                    </div>
                    <div class="product-image">
                    {% if material.imagen %}
                        <td>
                            <img src="{{material.imagen.url}}" width="100" height="100"></img>
                        </td> 
                    {% else %}
                        <td> Imagen no disponible </td>
                    {% endif %}
                    </div>
                </li>
            {% endfor %}
        {% else %}
            Por el momento no hay productos
        {% endif %}
    </ul>
    {% endblock %}